<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <style>
        /*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
        
        body {
            text-align: center !important;
        }
        
        p {
            margin-top: 20px;
            font-size: 30px;
        }
        
        input {
            text-align: center;
        }
        
        .mssg {
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
        }
        
        .redBlock {
            width: 1000px;
            height: 1000px;
            margin-top: 50px;
            background-color: rgb(251, 255, 255);
            display: block
        }
        
        .redBlock1 {
            width: 500px;
            height: 500px;
            margin: auto;
            background-color: gray;
            display: block;
            padding: 50px;
        }
    </style>


    <script type="text/javascript">
        $(document).ready(function() {

            $("#form1").submit(function(event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/register',
                    data: $('#form1').serialize(),
                    dataType: "json",
                    success: function(response) {
                        //alert("a");
                        //console.log(response.Success);
                        $('#form1')[0].reset();

                        document.getElementById("check").innerHTML = response.Success;
                        //ADD THIS CODE
                        setTimeout(function() {
                            document.getElementById("check").innerHTML = "";
                        }, 3000);
                        if (response.Success == "You are regestered,You can login now.") {
                            document.getElementById("aa").click();
                        };
                    },
                    error: function() {}
                })
            });
        });
    </script>
</head>

<body>

    <div class="col-md-4 col-md-offset-4">
        <div>
            <p>Register Now
            </p>
        </div>
        <div class="form-group">
            <form id="form1" method="post">
                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>

        <div class="mssg bg-danger">
            <span id="check"></span>
        </div>
        <div>
            <span>Already Registered! <a href="/login">Login</a></span>
        </div>
        <div id="LangTable">
            <a href="/" id="aa"></a>
        </div>
    </div>
</body>

</html>